<div>
    <link rel="stylesheet" href="stylesheets/home.css"/>
    <div class="jumbotron">
        <h1 id="main-heading">µStorm - Socialize with Entrepreneurs</h1> 
        <div class="container">
            <div class="opening-para">
                <h2 class="opening-header">µStorm is a platform where you can chat with random people
                    around the world and brainstorm ideas.</h2>
                <h4 class="opening-list-header">Here you can: </h4>
                <ul class="opening-list">
                    <li>Create your own profile and show what skills and interest you have.</li>
                    <li>Join a chat room and start chatting and braintstorming ideas.</li>
                    <li>Search other users by their username.</li>
                </ul>
            </div>
            <div class="form-custom signup-form">
                <ng-messages for="alerts">
                    <ng-message class="alert alert-danger" when="email_nomatch">E-mail Id you entered doesn't match
                    </ng-message>
                    <ng-message class="alert alert-danger" when="email_regex_fail">Invalid E-mail</ng-message>
                    <ng-message class="alert alert-danger" when="email_exist">An account by this E-mail Id already
                        exist</ng-message>
                    <ng-message class="alert alert-danger" when="incomplete_name">Please fill out your First and 
                    Last name</ng-message>
                    <ng-message class="alert alert-danger" when="password_nomatch">Passwords do not match</ng-message>
                    <ng-message class="alert alert-danger" when="no_password">Please enter a password</ng-message>
                    <ng-message class="alert alert-danger" when="invalid_dob">Please enter a valid Birth
                    Date</ng-message>
                    <ng-message class="alert alert-danger" when="invalid_gender">Please select your gender</ng-message>
                </ng-messages>
                <form role="form">
                    <h3 id="create-account">Create an account</h3>
                    <hr width="30%" align="centre">
                    <label id="labels">Name</label>
                    <div class="form-group">
                        <input ng-model="firstname" type="text" class="form-control" placeholder="Firstname" id="firstname" required/>
                        <input ng-model="lastname" type="text" class="form-control" placeholder="Lastname" id="lastname" required/>
                    </div>
                    <label id="labels">Email</label>
                    <div class="form-group">
                        <input ng-model="firstEm" type="email" class="form-control" placeholder="Email" id="email" required/>
                        <input ng-model="reEm" type="email" class="form-control" placeholder="Confirm Email" id="email-confirm" required/>
                    </div>
                    <label id="labels">Password</label>
                    <div class="form-group">
                        <input ng-model="firstPwd" type="password" class="form-control" placeholder="Password" id="password" required/>
                        <input ng-model="rePwd" type="password" class="form-control" placeholder="Confirm Password" id="password-confirm" required/>
                    </div>
                    <!-- To be replaced with drop downs -->
                    <label id="labels">Birth Date</label>
                    <div class="form-group">
                        <input ng-model="dob.year" type="number" min="1900" max="2014" placeholder="YYYY" class="dob-input input" required/>
                        <input ng-model="dob.month" type="number" min="1" max="12" placeholder="MM" class="dob-input input" required/>
                        <input ng-model="dob.date" type="number" min="1" max="31" placeholder="DD" class="dob-input input" required/>
                    </div>
                    <label id="labels">Gender</label>
                    <div class="form-group">
                        <label id="labels"><input ng-model="gender" type="radio" ng-value="'male'"/> Male</label>
                        <label id="labels"><input ng-model="gender" type="radio" ng-value="'female'"/> Female</label>  
                    </div>
                    <button type="submit" class="btn btn-success" ng-click="registerSubmit()">Submit</button>
                    <hr width="50%">
                    <div class="form-group">
                        <label id="labels" style="margin-right:20px;">Already registered?</label>
                        <button type="button" class="btn btn-primary" ng-click="login()">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="content-body">
        <div class="container" id="body-positioning">
            <h2 id="sub-heading">Brainstorm ideas with like-minded people!</h2>
            <p id="first-info">Do you know the first and foremost step of starting a startup? Getting the right Idea! Obviously this is
                a game changer. If your idea is not good than it is hard to build a business plan. Getting good ideas is not easy, but if you find someone who is like you then probablity of getting implementable
                ideas double!
            </p>
        </div>
    </div>

    <div id="content-body-second">
        <div class="container" id="body-positioning">
            <h2 id="sub-heading">How this thing works?</h2>
            <div class="how-to-info">
                <ul id="how-to-list">
                    <li id="list-content"><i class="fa fa-check-square-o fa-2x" aria-hidden="true" style="margin-right: 10px;"></i>Create Account and Login</li>
                    <li id="list-content"><i class="fa fa-user fa-2x" aria-hidden="true" style="margin-right: 10px;"></i>Create your online profile so that other people can see what you've got!</li>
                    <li id="list-content"><i class="fa fa-users fa-2x" aria-hidden="true" style="margin-right: 10px;"></i>Join a random chat room</li>
                    <li id="list-content"><i class="fa fa-rocket fa-2x" aria-hidden="true" style="margin-right: 10px;"></i>Define a problem and brainstorm ideas to find it's solution</li>
                    <li id="list-content"><i class="fa fa-smile-o fa-2x" aria-hidden="true" style="margin-right: 10px;"></i>Like people here? No? Join another chat room!</li>

                </ul>
            </div>
        </div>
    </div>

    <div class="footer">
        <p><a ng-click="aboutusPage()">About Us</a> | <a ng-click="login()">Login</a></p>
        <p>All rights reserved. uStorm 2016</p>
    </div>
</div>