<div>
    <link rel="stylesheet" href="../stylesheets/aboutus.css">
    <nav class="navbar navbar-default nav-background">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" id="logo-decoration" ng-click="signUp()">µStorm</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h2 id="about-header">About Us</h2>
        <hr width="70%" align-left="true">
        <div class="info-body">
            <div class="info-divs">
                <h4 class="info-headers">Mission</h4>
                <p class="info-paras">If you've came here than you might already know that it is better to create a
                job than to find one. Entrepreneurship is all about innovation and taking charge over your
                destiny. The first and hardest step is to find a problem faced by this society, the second to find
                solution to that problem and the third to build a team. Many people fail to get into good
                peers and meet like minded people. This platform will solve your problem! Meet new people
                here and try to find problems faced by people in day to day life
                and their solution, an you may eventually end up building your team.</p>
            </div>
            <div class="info-divs">
                <h4 class="info-headers">Report a Bug</h4>
                <p class="info-paras">We know that you may have encountered some malfunctioning in this site.
                    We're sorry for your bad experience! Please report it here: contactus@ustorm.in</p>
            </div>
            <div class="info-divs">
                <h4 class="info-headers">Feedback</h4>
                <p class="info-paras">Like this platform? Please encourage your peers to use this and spread the
                word. Write us a feedback at: contactus@ustorm.in</p>
            </div>
            <div class="info-divs">
                <h4 class="info-headers">Want to work with us?</h4>
                <p class="info-paras">To get in touch with developer of this site: ishanshukla97@gmail.com</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <p><a ng-click="signUp()">Sign Up</a> | <a ng-click="LoginPage()">Login</a></p>
        <p>Website developed by: Ishan Shukla</p>
        <p id="copyrights-postion">All rights reserved. uStorm 2016</p>
    </div>
</div>
